@font-face {
	font-family: 'Gloria Hallelujah';
	font-style: normal;
	font-weight: 400;
	src: local('Gloria Hallelujah'), local('GloriaHallelujah'), url(GloriaHallelujah.woff) format('woff');
}

* {
	margin: 0;
	padding: 0;
}

/* Backgrounds */

body {
	width: 100%;
	font-size: 16px;
	background-color: #588F27;
}

#accueil {
	background-image: url(img/bg1.png);
	background-position: bottom center;
	background-repeat: repeat-x;
	background-color: #F7E967;
	padding-bottom: 25px;
}

#portfolio {
	background-image: url(img/bg2.png);
	background-position: bottom center;
	background-repeat: repeat-x;
	background-color: #CAFCD8;
	padding-bottom: 25px;
}

#a-propos-about {
	background-image: url(img/bg3.png);
	background-position: bottom center;
	background-repeat: repeat-x;
	background-color: #A9CF54;
	padding-bottom: 25px;
}

/* Header */

#header {
	text-align: center;
	background-color: white;
	background-image: url(img/bg.png);
}

#header h1 {
	color: #04BFBF;
	font-family: 'Gloria Hallelujah', cursive;
}

@media screen and (min-width: 800px) {
	#header {
		height: 150px;
	}
	#header h1 {
		font-size: 4em;
	}
}

@media screen and (max-width: 800px) {
	#header {
		height: 63px;
	}
	#header h1 {
		font-size: 1.7em;
	}
}

/* Nav */

#nav {
	width: 100%;
	background-color: white;
	background-image: url(img/bg.png);
	border-bottom: 5px solid #04BFBF;
}

#nav.static-nav {
	position: static;
}

#nav.fixed-nav {
	z-index: 5000;
	position: fixed;
	top: 0;
}

#nav ul {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#nav ul li {
	display: inline-block;
}

#nav ul li a {
	display: block;
	text-decoration: none; 
	vertical-align: middle;
	text-align: center;
}

#nav ul li a:hover {
	font-style: italic;
}

#accueil.conteneur.fixed-nav {
	padding-top: 105px;
}

@media screen and (min-width: 800px) {
	#nav ul {
		width: 800px;
		height: 100px;
	}

	#nav ul li {
		height: 100px;
	}

	#nav ul li a {
		position:relative;
		width: 195px;
		height: 100px;

		color: #04BFBF;
		font-size: 1.5em;
		font-weight: bold;
		border-left: 5px solid #04BFBF;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

		line-height: 100px;
	}

	#nav ul li a span.title-unique {
		position:absolute;
		left: 2em;
	}

	#nav ul li a span.title {
		top : -0.5em;
		left: 1.7em;
		position:absolute;
	}

	#nav ul li a span.subtitle {
		top : 1em;
		left: 5em;
		position:absolute;
		font-size: 0.6em;
	}
}

@media screen and (max-width: 800px) {
	#nav ul {
		width: 100%;
		min-width: 250px;
	}
	#nav ul li {
		width: 25%;
	}
	#nav ul li a span {
		display: none;
	}
	#nav ul li a {
		position: static;
		width: 50px;
		height: 50px;
		border: none;
		margin: 0 auto;
		background-repeat: no-repeat;
	}

	#nav ul li a.nav-home { background-image: url(img/icon_home.png); }
	#nav ul li a.nav-portfolio { background-image: url(img/icon_portfolio.png); }
	#nav ul li a.nav-about { background-image: url(img/icon_contact.png); }
	#nav ul li a.nav-contact { background-image: url(img/icon_about.png); }

	#accueil.conteneur.fixed-nav {
		padding-top: 60px;
	}
}



/* Conteneur / Contenue */

.conteneur {
	/* Centrage verticale */
	line-height: 500px;
	min-height: 500px;
	/* Centrage horizontale */
	text-align: center;
}

.contenue {
	width: 70%;
	line-height: 125%;
	text-align: justify;
	vertical-align: middle;
	display: inline-block;
	margin: 0 auto;
	padding: 105px 0;
}

.contenue h3 {
	padding-left: 2em;
	padding-bottom: 2px;
	margin-bottom: 0.5em;
	border-bottom: 2px solid black;
}

#accueil .contenue h3 {
	font-size: 150%;
	text-align: center;
	border: none;
}

#accueil .contenue p {
	text-align: center;
	font-style: italic;
}

@media all and (min-width: 1024px) {
	.contenue {
		font-size: 125%;
	}
	#accueil .contenue h3 {
		font-size: 175%;
	}
}

@media all and (min-width: 1680px) {
	.contenue {
		font-size: 150%;
	}
	#accueil .contenue h3 {
	font-size: 200%;
	}
}

/*****************************************************************/
  .competence-content {
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1em;
    background-color: #f0f0f0;
    border: 2px solid #b8b1a7;
    padding: 20px;
  }

  .competence-content h4 {
    color: #485758;
    font-size: 130%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: 1px solid #c4bfb4;
  }
@media screen and (max-width: 1024px) {
  .competence-content { margin-bottom: 1em; }
}
@media screen and (min-width: 1024px) {
	.competences { display: table; width: 100%; }
	.competence { display: table-cell; width: 33%; }



	.competence-content p {
		padding-top: 15px;
	}

	.competence-content ul {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.competence-content ul li {
		padding-top: 0.6em;
	}
}

/*****************************************************************/

	ul.polaroids li a {
		display: inline-block;
		width: auto;
		background: #fff;
		padding: 10px 10px 15px;
		margin: 0 0 27px 30px;
		color: #333;
		font-size: 18px;
		text-align: center;
		text-decoration: none;
		-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
		-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
		-webkit-transform: rotate(-2deg);
		-webkit-transition: -webkit-transform .15s linear;
		-moz-transform: rotate(-2deg);
	}

	ul.polaroids img {
		width: 190px;
		display: block;
		margin-bottom: 12px;
	}

	ul.polaroids li {
		display: inline;
		padding-left: 0;
	}

	ul.polaroids li:nth-child(even) a {
		-webkit-transform: rotate(2deg);
		-moz-transform: rotate(2deg);
	}

	ul.polaroids li a:hover {
		-webkit-transform: scale(1.25);
		-moz-transform: scale(1.25);
		-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
		-moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
		position: relative;
		z-index: 5;
	}

	@media screen and (max-width: 768px) {
		ul.polaroids li {
			margin-left: auto;
      margin-right: auto;
      text-align: center;
		} 
	}

/**************************************************************/

	#contact .contenue .social-network{
		display: block;
		width: 100%;
		position: relative;
		margin: 1em 2em 2em 1em;
	}
	#contact .contenue .social-network:after, #contact .social-network:before  {
		content: "";
		display: block;
		position: absolute;
		top: -6px;
		bottom: -6px;
		left: -6px;
		right: -6px;
		border: 6px solid white;
		background-color: #f0f0f0;
		-webkit-box-shadow: 0.2em 0.2em 2em rgba(0, 0, 0, 0.6);
		-moz-box-shadow: 0.2em 0.2em 2em rgba(0, 0, 0, 0.6);
		box-shadow: 0.2em 0.2em 2em rgba(0, 0, 0, 0.6);
	}

	#contact .contenue .social-network:before {
		-webkit-transform: rotate(-6deg);
		-moz-transform: rotate(-6deg);
		-ms-transform: rotate(-6deg);
		-o-transform: rotate(-6deg);
		transform: rotate(-6deg);
	}

	#contact .contenue .social-network-content {
		z-index: 1;
		padding: 1em;
		position: relative;
	}

	#contact .contenue .social-network-content ul {
		margin-left: 3em;
	}

	#contact .contenue .social-network-content img {
		vertical-align: middle;
	}

	#contact .contenue .social-network-content a {
		color: black;
		text-decoration: none;
	}

	#contact .contenue .social-network-content a:hover {
		font-style: italic;
	}

	#contact .contenue form {
		width: 90%;
		padding: 5%;
		border-radius: 10px 2px;
		border: 1px solid white;
	}

	#contact .contenue input#contact-form-name,
	#contact .contenue input#contact-form-email,
	#contact .contenue textarea#contact-form-message {
		width: 80%;
		height: 3em;
		display: block;
		padding-left: 1em;
		padding-right: 1em;
		border-radius: 1em;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1em;
		border: 1px solid black;
	}

	#contact .contenue textarea#contact-form-message {
		height: 6em;
		padding-top: 1em;
	}

	#contact .contenue input#contact-form-send {
		padding: 1em;
		border-radius: 1em;
		background-color: white;
		border: 1px solid black;
	}

	#contact .contenue label { display: none;}

	@media screen and (min-width: 800px) {
		.contact-table {
			width: 100%;
			display: table;
		}
		.contact-cell {
			width: 40%;
			padding: 5%;
			display: table-cell;
      vertical-align: top;
		}
	}

	@media screen and (max-width: 800px) {
		#contact .contenue .contact-cell {
			margin-top: 4em;
		}
	}

